root = true

# Unix-style newlines
[*]
end_of_line = lf
insert_final_newline = false

# Matches multiple files with brace expansion notation
# Set default charset
[*]
charset = utf-8

# 4 tabs indentation
indent_style = tab
indent_size = 4
