HOST=0.0.0.0
PORT=8080

DATABASE_URL=postgresql://root:root@localhost:5432/celosiajs_boilerplate

ACCESS_TOKEN_SECRET=
ACCESS_TOKEN_EXPIRE=60 # 1 Minute

REFRESH_TOKEN_SECRET=
REFRESH_TOKEN_EXPIRE=2592000 # 30 Days

RATE_LIMITER_MAX=100
RATE_LIMITER_WINDOW=60

PASSWORD_HASH_SECRET=

CORS_ORIGIN="http://localhost:3000"

LOG_LEVEL=info
LOG_PATH=./Logs/
