{
	"tabWidth": 4,
	"singleQuote": true,
	"useTabs": true,
	"jsxSingleQuote": true,
	"semi": false,
	"arrowParens": "avoid",
	"endOfLine": "lf",
	"printWidth": 100,

	"importOrder": [
		"^dotenv",
		"^express$",
		"^http$",
		"^path$",
		"^bcrypt$",
		"^winston",
		"^compression$",
		"^cookie-parser$",
		"^helmet$",
		"^@celosiajs/",
		"<THIRD_PARTY_MODULES>",
		"^App$",
		"^Types",
		"^Utils",
		"^Middlewares",
		"^Routes",
		"^Database",
		"^Versions/(.*)/Controllers/",
		"^Versions/(.*)/Routes/",
		"^[./]"
	],
	"importOrderSeparation": true,
	"importOrderSortSpecifiers": true,

	"plugins": ["@trivago/prettier-plugin-sort-imports"]
}
